.map{
    height: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
}

.map .leaflet-container{
    height: 100%;
}