@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: #f5f6fa;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown{
  background-color: white;
}

.app__left{
  flex: 0.9;
}

.app__header{
  color: #fc3c3c;
  font-size: 1.5rem;
}

.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
  justify-content: space-between;
}


.app__stats{
  display: flex;
  justify-content: space-between;
}

.app__graphTitle{
  margin-top: 20px;
  margin-bottom: 20px;
}

.app__right{
  height: 780px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 990px){
  .app,
  .app__header,
  .app__stats{
    flex-direction: column;
  }
  .app__title{
    font-size: 2.4rem;
  }
  .app__dropdown{
    width: 100%;
  }
  .MuiCard-root{
    margin-bottom: 15px;
  }
  .app__right{
    height: 70vh;
  }
}

@media (max-width:414px){
  .app__right{
    height: 80vh;
  }

  .app__title{
    font-size: 2rem;
  }
}